<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" /><!-- Pour le lien au fichier CSS-->
    <title>Page</title> <!-- Pour le nom de la page-->
</head>
	<body>
	<h2 id="accueil">Sté Lafleur</h2>
		<div>
			<a href="logo.html" target="page">Accueil</a></p>
		</div>
		
			</br>
			
		<div>
			<!-- Traget permet d'indiquer dans quel iframe on affiche la page-->
			<spam class="produit">Nos produits</spam> <br/>
			<br/>
			<a href="bulbes.html" target="page">Bulbes</a> 
			<br/>
			<a href="massifs.html" target="page">Plantes à massif</a> 
			<br/>
			<a href="rosiers.html" target="page">Rosiers</a>
		
		</div>
		


	</body>
</html>