<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" /><!-- Pour le lien au fichier CSS-->
		<title>Rosiers</title> <!-- Pour le nom de la page-->
	</head>
	<body>
		<section>
			
			<table>
				<tr>
					<th>Photo</th>

					<th>Réference</th>

					<th>Désignation</th>
			   
					<th>Prix</th>
				</tr>
				
				<tr>
					<td><p><img src="../Images/rosiers_gdefleur.JPG" class="imageflottante" alt="Image flottante" /> </p></td>

					<td>r01</td>

					<td>  1 pied spécial grandes fleurs </td>
			   
					<td>20.00€</td>
				</tr>
				
				<tr>
					<td><p><img src="../Images/rosiers_parfum.JPG" class="imageflottante" alt="Image flottante" /> </p></td>

					<td>r02</td>

					<td>Une variété sélectionnée pour son parfum </td>
			   
					<td>9.00€</td>
				</tr>
				
				<tr>
					<td><p><img src="../Images/rosiers_arbuste.JPG" class="imageflottante" alt="Image flottante" /> </p></td>

					<td>r03</td>

					<td>Rosier arbuste</td>
			   
					<td>8.00€</td>
				</tr>
			
			
			</table>
			
		</section>
	</body>
</html>