p
{
	text-align: center;
	font-weight: bold;
}

iframe
{
	scrolling: no;
	height: 600px;
	border: 1px;
}

/*Pour le titre */
h1
{
	text-align: center;
}

h2
{
	text-align: left;
}

/*Pour l'image*/
.imageflottante
{
	text-align: center;
}

/*Pour le soulignement*/
div
{
	border-bottom: 1.5px solid black;
}

/* Liens par défaut (non survolés) */
a 
{
   text-decoration: none;
   color: black;
   font-style: italic;
}


.produit
{
	text-decoration: underline;
	text-align: left;
}


/*Pour le tableau*/
table
{
    border: medium solid black;
	border-collapse: collapse;
	width: auto;
	margin: auto; /*Pour centrer le tableau */
}

td, th /* Mettre une bordure sur les td ET les th */
{

    border: 1px solid black;

}

/*Pour la couleur du tableau*/
th 
{
	font-family: monospace;
	border: thin solid black;
	width: auto;/*Pour la taille des th*/
	padding: 5px;
	background-color: rgb(255,108,108); /* Le fond du tableau sera rouge claire */
	color: black; /* Le tableau seront écrit en noir  */
	/*background-image: url(sky.jpg);*/ /*Pour l'mage de fond */
}

td 
{
	text-align: center; /*Pour centrer le texte du tableau */
	font-family: sans-serif;
	border: thin solid black;
	width: auto;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}


